# Week6 Assignment - Data retrieval and dataset preprocessing.

For this assignment, you will need the iris flowers dataset available on the course website, under Week6 files. This is a dataset of 150 observations of flowers, with petal lengths and widths, and sepal lengths and widths.

The basic goal of this assignment is to preprocess the iris dataset in preparation for a machine-learning algorithm.

In the first component, you will load the dataset into a Pandas dataframe.

In the second component, you will impute missing values in one of the columns. In this case, you will assign the average value in the column to the missing data points.

In the third component, you will create two new columns that will approximate the sepal and petal sizes: One will equal the petal length multiplied by the petal width, and the other will equal the sepal length multiplied by the sepal width.

In the fourth component, you will normalize the sepal and petal sizes.

In the fifth component, you will add a column with a boolean value representing whether a flower belongs to the setosa species.

All the exercises are designed so that the solutions will need only one or a few lines of code.

Do not hesitate to contact instuctors and TA via #week6 channel on Slack if you get stuck. Join the channel first by clicking on Channels.

## Part A. Read in the iris dataset. 

In this component you will read the iris dataset into a Pandas data frame. Make sure you download the iris.csv file from the course website. Do not download or load a different instance of the iris dataset: use the one from the course website as we have modified it for this exercise, and when we test your code we will test it against our version of the dataset. Also, do not manually modify the iris dataset.

If you prefer to load the dataset by its URL, you can do that.

Pay attention which directory you save the file to so that you can load it by its path.

Once downloaded, use Pandas to read the file into a data frame.

Save the data frame to a variable named iris_data.

In [4]:
import pandas as pd
import numpy as np

iris_raw_data = None

# Load the iris dataset into a pandas dataframe
# Make sure to save it as "iris_data"

# YOUR CODE HERE
iris_data = pd.read_csv('iris.csv', sep=",")


# You can make sure you loaded it correctly by looking at its first few rows, using the .head() function
print(iris_data.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris_data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [6]:

iris_data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
iris_data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    7
PetalWidthCm     0
Species          0
dtype: int64

In [8]:
assert isinstance(iris_data, pd.core.frame.DataFrame)
assert iris_data.shape == (150, 6)
assert iris_data["SepalLengthCm"].mean() == 5.815333333333334
assert iris_data.isnull().sum().sum() == 7
assert iris_data.isnull().values.any()

## Part B. Impute missing data.

Unfortunately it appears that there are some missing data points in the PetalLengthCm column.

To resolve this, write a function that can find the mean of the PetalLengthCm column and replace the missing data points in the PetalLengthCm column with this mean.

The function takes as input a Pandas data frame and a column name. The function will return a new Pandas data frame, with the missing data points replaced with the column mean.

Run the function on the iris_data data frame and save the new data frame in the same variable (iris_data).

In [13]:
def impute_with_mean(df, column_name):
    """
    Accepts a Pandas data frame and a column name as input.
    
    Returns a new Pandas data frame with missing data points in the column
    replaced with the mean value for that column.
    """
    # YOUR CODE HERE
    column_name = df
    return column_name.fillna(column_name.mean())
    
                               
# Let's impute in our data frame
iris_data = impute_with_mean(iris_data, "PetalLengthCm")

In [14]:
assert not iris_data.isnull().values.any()
assert iris_data["PetalLengthCm"].median() == 4.25
assert iris_data.equals(impute_with_mean(iris_data, "SepalLengthCm"))


## Part C. Approximate full sizes.

In this component you will create two new columns that approximate the sepal and petal sizes.

The first new column will be named sepal_size and will be equal to: SepalLengthCm \* SepalWidthCm

The second new column will be named petal_size and will be equal to: PetalLengthCm \* PetalWidthCm

Add the appropriate columns below.

In [15]:
# YOUR CODE HERE
SepalLengthCm = iris_data["SepalLengthCm"]
PetalLengthCm = iris_data["PetalLengthCm"]
SepalWidthCm =iris_data["SepalWidthCm"]
PetalWidthCm = iris_data["PetalLengthCm"]

iris_data["sepal_size"] = SepalLengthCm * SepalWidthCm
iris_data["petal_size"] = PetalLengthCm * PetalWidthCm


iris_data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_size,petal_size
0,1,5.1,3.5,1.4,0.2,Iris-setosa,17.85,1.96
1,2,4.9,3.0,1.4,0.2,Iris-setosa,14.70,1.96
2,3,4.7,3.2,1.3,0.2,Iris-setosa,15.04,1.69
3,4,4.6,3.1,1.5,0.2,Iris-setosa,14.26,2.25
4,5,5.0,3.6,1.4,0.2,Iris-setosa,18.00,1.96

In [16]:
assert iris_data.shape == (150, 8)
assert "sepal_size" in iris_data.columns
assert "petal_size" in iris_data.columns
assert iris_data["petal_size"].sum() == 868.162937062937
assert iris_data["sepal_size"].sum() == 2656.15

AssertionError:

## Part D. Normalize sizes.

For some machine-learning algorithms, we need to normalize data. This is generally done so that different features are on the same scales.

In our case, sepal_size and petal_size are on different scales. Normalize them by subtracting the mean from each and dividing by the standard deviation. You can do this manually if you prefer, or you can use the scale function from sklearn.preprocessing.

Note: If you do this manually, make sure to set the standard deviation to 0 degrees of freedom (ddof=0).

Since you need to perform this operation twice, you may consider writing a function to handle this, though that is not a requirement.

Save the new columns as: sepal_size_normalized, petal_size_normalized

In [17]:
# YOUR CODE HERE
from sklearn.preprocessing import scale
scaled_size =pd.Series(scale(iris_data.sepal_size))
scaled_size =pd.Series(scale(iris_data.petal_size))
scaled_size.std(ddof=0)

iris_data["sepal_size_normalized"] = scaled_size
iris_data["petal_size_normalized"] = scaled_size

In [18]:
assert np.isclose(iris_data["petal_size_normalized"].mean(), 0)
assert np.isclose(iris_data["petal_size_normalized"].std(ddof=0), 1)
assert np.isclose(iris_data["sepal_size_normalized"].mean(), 0)
assert np.isclose(iris_data["sepal_size_normalized"].std(ddof=0), 1)

## Part E. Add a boolean column.

We are specifically interested in whether a given flower is from the setosa species.

Add a column "is_setosa" to the data frame, that is true if we are dealing with a setosa and false otherwise.

In [25]:
# YOUR CODE HERE

iris_data["is_setosa"] =iris_data["Species"]
iris_data["is_setosa_bool"] = iris_data["is_setosa"] == "Y"
iris_data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_size,petal_size,sepal_size_normalized,petal_size_normalized,is_setosa,is_setosa_bool
0,1,5.1,3.5,1.4,0.2,Iris-setosa,17.85,1.96,-1.257091,-1.257091,Iris-setosa,False
1,2,4.9,3.0,1.4,0.2,Iris-setosa,14.70,1.96,-1.257091,-1.257091,Iris-setosa,False
2,3,4.7,3.2,1.3,0.2,Iris-setosa,15.04,1.69,-1.279002,-1.279002,Iris-setosa,False
3,4,4.6,3.1,1.5,0.2,Iris-setosa,14.26,2.25,-1.233558,-1.233558,Iris-setosa,False
4,5,5.0,3.6,1.4,0.2,Iris-setosa,18.00,1.96,-1.257091,-1.257091,Iris-setosa,False

In [26]:
assert sum(iris_data["is_setosa"]) == 50
assert iris_data.loc[iris_data["Species"] == "Iris-setosa", "is_setosa"].all()
assert iris_data["is_setosa"].dtype == "bool"

TypeError: unsupported operand type(s) for +: 'int' and 'str'